@font-face {
  font-family: "Vladivostok";
  src:
    url("fonts/vladivostok-regular.woff2") format("woff2"),
    url("fonts/vladivostok-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vladivostok";
  src:
    url("fonts/vladivostok-bold.woff2") format("woff2"),
    url("fonts/vladivostok-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* --- COLORS --- */

  /* Gray */
  --color-black: #0d0d0d;
  --color-darker: #2b2b2b;
  --color-dark: #404040;
  --color-gray-medium: #999999;
  --gray-light: #cccccc;
  --color-lighter: #f2f2f2;
  --color-white: #ffffff;

  /* Color 1 */
  --color1-darker: #a61029;
  --color1-dark: #cc1433;
  --color1-main: #f23051;
  --color1-light: #fc8b9e;
  --color1-lighter: #fcd7dd;

  /* Colors 2 */
  --color2-darker: #554d80;
  --color2-dark: #665c99;
  --color2-main: #897acc;
  --color2_light: #cbc2f2;
  --color2-lighter: #f9f7ff;

  /* Gradient */
  --gradient-block: linear-gradient(
    90deg,
    #897acc 0%,
    #cc29a3 49.48%,
    #f23051 100%
  );

  /* TYPOGRAPHY SIZES */

  /* Heading */
  --h1-size: clamp(42px, 6vw, 76px);
  --h2-size: clamp(32px, 4vw, 48px);
  --h3-size: clamp(24px, 3vw, 28px);
  --h4-size: 20px;

  /* Text */
  --t1-size: 20px;
  --t2-size: 16px;
  --t3-size: 14px;
  --t4-size: 12px;

  /* Line Spacing */
  --h-line-height: 100%; /* для H2-H4 */
  --h1-line-height: 110%;
  --text-line-height: 150%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  background: var(--color-white);
  padding-top: 90px;
}

h1,
h2,
h3,
h4 {
  font-family: "Vladivostok", sans-serif;
  font-weight: 700;
}

h2,
h3,
h4 {
  line-height: var(--h-line-height);
  color: var(--color-darker);
}

h1 {
  font-size: var(--h1-size);
  line-height: var(--h1-line-height);
  color: var(--color-black);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
}

a {
  text-decoration: none;
}

.text-t1,
.text-t2,
.text-t3,
.text-t4 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: var(--text-line-height);
}

.text-t1 {
  font-size: var(--t1-size);
}
.text-t2 {
  font-size: var(--t2-size);
}
.text-t3 {
  font-size: var(--t3-size);
}
.text-t4 {
  font-size: var(--t4-size);
}

.main,
.header,
.footer {
  width: 100%;
}

.container {
  padding-left: 45px;
  padding-right: 45px;
  margin: 0 auto;
}

/* --- HEADER --- */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 90px;
  padding: 0 45px;
  background: var(--color-white);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 88px;
  padding: 12px 0;
}

.header__logo {
  height: 64px;
  padding: 20px 0px;
}

.header__button {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 12px;
  padding: 12px;
  cursor: pointer;
  background: var(--color-dark);
}

.header__line {
  width: 100%;
  height: 2px;
  min-height: 2px;
  background-color: var(--color-lighter);
}

/* Modal Menu */
.header__modal-menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  padding: 20px 45px;
  transition: top 0.3s ease-out;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: flex-end;
}

.header__modal-menu.open {
  top: 86px;
}

.modal-menu__container {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 334px;
  gap: 20px;
  padding: 40px;
  padding-top: 28px;
  background-color: var(--color-white);
  position: relative;
  border-radius: 40px;
}

.modal-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}

.modal-menu__button {
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 12px;
  padding: 8px;
  background-color: var(--color-lighter);

  font-weight: 700;
  color: var(--color-dark);
  transition: color 0.2s;
}

.modal-menu__button:hover {
  color: var(--color1-main);
}

.modal-menu__button:active {
  color: var(--color1-darker);
  background-color: var(--color1-lighter);
}

/* --- MAIN --- */

/* --- First Screen --- */
.main__first-screen {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 45px;
  gap: 20px;
  background-color: var(--color-white);
}

/* Left Colone - Text and Checkbox */
.first-screen__cta {
  display: flex;
  flex-direction: column;
  width: 628px;
  gap: 40px;
  padding-right: 20px;
}

.first-screen__cta__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.first-screen__cta__text p {
  color: var(--color-dark);
}

/* Block Buttons */
.first-screen__cta__buttons {
  display: flex;
  flex-wrap: wrap;
  width: clamp(342px, 100vw, 555px); /* 555px */
  gap: 20px;
  padding: 40px;
  border: 2px solid var(--color2_light);
  border-radius: 40px;
  background-color: var(--color2-lighter);
}

.first-screen__cta__buttons--scroll {
  border: none;
  border-radius: 12px;
  cursor: pointer;

  font-weight: 700;
  color: var(--color-white);
}

.first-screen__cta__buttons--scroll--form {
  width: 169px;
  padding: 13.5px 20px;
  background-color: var(--color1-main);
  transition: background-color 0.2s;
}

.first-screen__cta__buttons--scroll--form:hover {
  background-color: var(--color1-light);
}

.first-screen__cta__buttons--scroll--form:active {
  background-color: var(--color1-dark);
}

.first-screen__cta__buttons--scroll--next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 282px;
  gap: 8px;
  padding: 12px 16px 12px 20px;
  background-color: var(--color-dark);
  transition: background-color 0.2s;
}

.first-screen__cta__buttons--scroll--next:hover {
  background-color: var(--color-gray-medium);
}

.first-screen__cta__buttons--scroll--next:active {
  background-color: var(--color-darker);
}

/* Switch (переключатель) */
.first-screen__cta__toggle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.first-screen__cta__toggle label {
  color: var(--color-gray-medium);
}

.cta__toggle__input {
  appearance: none;
  position: relative;
  width: 70px;
  height: 24px;
  border-radius: 120px;
  cursor: pointer;
  background-color: #cccccc;
  transition: background-color 0.2s;
}

.cta__toggle__input:hover {
  background-color: var(--color-gray-medium);
}

.cta__toggle__input:active {
  background-color: var(--color-dark);
}

.cta__toggle__input::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: var(--color-white);
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: transform 0.2s;
}

.cta__toggle__input:checked {
  background-color: var(--color1-main);
}

.cta__toggle__input:checked:hover {
  background-color: var(--color1-light);
}

.cta__toggle__input:checked:active {
  background-color: var(--color1-dark);
}

.cta__toggle__input:checked::before {
  transform: translateX(19px);
}

/* Right Colone - Images and Block */
.first-screen__image-container {
  position: relative;
  width: 628px;
  height: 484px;
  border-radius: 40px;
}

.first-screen__image-container--image1,
.first-screen__image-container--image2,
.first-screen__image-container--block {
  position: absolute;
  width: 304px;
  height: 304px;
  border-radius: 40px;
  object-fit: cover;
}

.first-screen__image-container--image1 {
  top: 180px;
}

.first-screen__image-container--image2 {
  left: 324px;
}

.first-screen__image-container--block {
  top: 90px;
  left: 162px;
  background: var(--gradient-block);
}

/* --- SLIDER --- */
.main__slider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 80px 45px;
  gap: 40px;
  background-color: var(--color2-lighter);
}

.slider__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.slider__title__buttons {
  display: flex;
  height: 48px;
  gap: 8px;
}

.slider__title__button {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 12px;
  padding: 12px;
  background-color: var(--color-white);
  transition: background-color 0.2s;
}

.slider__title__button:hover {
  background-color: var(--color1-lighter);
}

.slider__title__button:active {
  background-color: var(--color1-light);
}

/* Cards */
.slider__cards {
  display: flex;
  overflow-x: auto;
  height: clamp(260px, 10vw, 280px);
  gap: 20px;
  cursor: grab;

  /* Hide Scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;
  user-select: none;
}

.slider__cards:active {
  cursor: grabbing;
}

.slider__card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  width: clamp(280px, 22.25vw, 340px);
  width: 304px;
  border-radius: 40px;
  padding: 40px;
  gap: 20px;
  border: 2px solid var(--color2_light);
  background-color: var(--color-white);
}

.slider__card__title {
  background: var(--gradient-block);
  color: transparent;
  background-clip: text;
}

.slider__card__line {
  width: 100%;
  height: 2px;
  min-height: 2px;
  background-color: var(--color-lighter);
}

.slider__card__description {
  color: var(--color2-dark);
}

/* --- FAQ --- */
.main__faq {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 80px 45px;
  gap: 40px;
  background-color: var(--color-white);
}

.faq__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.faq__container__column {
  display: flex;
  flex-direction: column;
  width: 700px;
  gap: 20px;
}

.container__column__accordion {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 20px;
  gap: 20px;
  background-color: var(--color-lighter);
}

.container__column__accordion:hover {
  outline: 2px solid var(--gray-light);
}

.container__column__accordion:active {
  background-color: var(--gray-light);
}

.accordion__top {
  display: flex;
  justify-content: space-between;
}

.accordion__top__button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
}

.top__button__icon {
  transition: transform 0.2s;
}

.accordion__bottom {
  color: var(--color-dark);
}

/* --- FORM --- */
.main__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 80px 45px;
  gap: 20px;
  background-color: var(--color2-lighter);
}

/* Form Title */
.form__title {
  display: flex;
  flex-direction: column;
  width: 628px;
  height: 364px;
  border-radius: 40px;
  padding: 40px;
  gap: 24px;
  border: 2px solid var(--color2_light);
}

.form__title__text {
  color: var(--color2-darker);
}

.form__title__description {
  color: var(--color-dark);
}

.form__title__address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__address__text {
  font-weight: 700;
  font-style: normal;
  color: var(--color-dark);
}

.form__socials {
  display: flex;
  gap: 12px;
}

.form__address__button {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background: var(--color-lighter);
  transition: all 0.2s;
}

.form__address__button--tg {
  color: #27a6e5;
}

.form__address__button--tg:hover {
  background-color: var(--color1-lighter);
  color: var(--color1-darker);
}

.form__address__button--tg:active {
  background-color: var(--color1-light);
}

.form__address__button--vk {
  color: #0077ff;
}

.form__address__button--vk:hover {
  background-color: var(--color1-lighter);
  color: var(--color1-darker);
}

.form__address__button--vk:active {
  background-color: var(--color1-light);
}

/* Form Body */
.form__body {
  display: flex;
  flex-direction: column;
  width: clamp(628px, 10vw, 700px);
  /* width: 628px; */
  padding: 40px;
  gap: 20px;
  border-radius: 40px;
  border: 2px solid var(--color2_light);
}

.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.form__input__container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form__inputs__input {
  padding: 14px 40px;
  border-radius: 12px;
  border: none;

  font-family: "Inter", sans-serif;
  font-size: 16px;
  outline: none;
  transition: background-color 0.2s;
}

.form__inputs__input:hover {
  outline: 2px solid var(--gray-light);
}

.form__inputs__input:focus {
  background-color: var(--color-white);
}

.form__inputs__input--name {
  background: url(images/svg/name-left-icon.svg) no-repeat scroll 10px 7px
    var(--color-lighter);
}

.form__inputs__input--tel {
  background: url(images/svg/tel-left-icon.svg) no-repeat scroll 10px 7px
    var(--color-lighter);
}

.form__inputs__input--email {
  background: url(images/svg/email-left-icon.svg) no-repeat scroll 10px 7px
    var(--color-lighter);
}

.form__inputs label {
  color: var(--color-gray-medium);
}

.form__checkbox__container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
}

.custom-checkbox input {
  display: none; /* скрываем чекбокс по умолчанию */
}

.checkmark {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--color-white);
  border: 2px solid var(--color-gray-medium);
  border-radius: 8px;
  flex-shrink: 0;
}

.custom-checkbox input:hover + .checkmark {
  background: url("images/svg/check-red.svg");
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.custom-checkbox input:checked + .checkmark {
  background-image: url("images/svg/check-red.svg");
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  border-color: var(--color1-main);
}

.form__checkbox__container label {
  color: var(--color-dark);
}

.form__submit {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 200px;
  border: none;
  border-radius: 12px;
  padding: 12px 20px 12px 16px;
  font-weight: 700;
  cursor: pointer;
  background-color: var(--color1-main);
  color: var(--color-white);
  transition: background-color 0.2s;
}

.form__submit:hover {
  background-color: var(--color1-light);
}

.form__submit:active {
  background-color: var(--color1-darker);
}

/* --- FOOTER --- */
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 120px;
  gap: 20px;
  padding: 40px 45px;
  background-color: var(--color-black);
}

.footer__text {
  color: var(--color-lighter);
}

.footer__made-in {
  display: flex;
  gap: 12px;
}

.footer__made-in__texts {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: var(--color-white);
}

/* Full HD */
@media (min-width: 1920px) {
  .container {
    margin: 0 auto;
    padding-left: 250px;
    padding-right: 250px;
  }

  .header__modal-menu {
    padding: 20px 250px;
  }

  /* First Screen */
  .first-screen__cta {
    width: 700px;
  }

  .cta__toggle__input:checked::before {
    transform: translateX(22px);
  }

  .first-screen__image-container {
    width: 700px;
    height: 540px;
  }

  .first-screen__image-container--image1,
  .first-screen__image-container--image2,
  .first-screen__image-container--block {
    width: 340px;
    height: 340px;
  }

  .first-screen__image-container--image1 {
    top: 200px;
  }

  .first-screen__image-container--image2 {
    left: 360px;
  }

  .first-screen__image-container--block {
    top: 100px;
    left: 180px;
  }

  /* Slider */
  .slider__cards {
    height: 280px;
  }

  .slider__card {
    width: 340px;
  }

  /* Form */
  .form__title,
  .form__body {
    width: 700px;
  }
}

/* HD */
@media (max-width: 1439px) {
  /* FAQ */
  .faq__container__column {
    width: 628px;
  }

  .modal-menu__container {
    padding-right: 250px;
  }
}

/* Table */
@media (max-width: 768px) {
  h1 {
    font-size: 42px;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .main__first-screen,
  .main__slider,
  .main__faq,
  .main__form {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  /* Header */
  .header__modal-menu {
    padding: 16px 16px;
  }

  .modal-menu__container {
    width: 360px;
    height: 310px;
    padding: 20px;
    border-radius: 20px;
  }

  .modal-menu__button {
    width: 320px;
  }

  .main__first-screen {
    gap: 16px;
  }

  /* First Screen */
  .first-screen__cta {
    width: 360px;
    height: 506px;
    gap: 20px;
    padding-right: 16px;
  }

  .first-screen__cta__text {
    gap: 12px;
  }

  .first-screen__cta__buttons {
    width: 344px;
    padding: 20px;
    border-radius: 20px;
    gap: 12px;
  }

  .first-screen__cta__buttons--scroll--next {
    width: 100%;
  }

  .first-screen__cta__buttons--scroll--form {
    width: 100%;
  }

  .cta__toggle__input {
    width: 44px;
  }

  .first-screen__image-container {
    width: 360px;
    height: 278px;
  }

  .first-screen__image-container--image1,
  .first-screen__image-container--image2,
  .first-screen__image-container--block {
    width: 174px;
    height: 174px;
    border-radius: 20px;
  }

  .first-screen__image-container--image1 {
    top: 104px;
  }

  .first-screen__image-container--block {
    top: 52px;
    left: 93px;
  }

  .first-screen__image-container--image2 {
    left: 186px;
  }

  .first-screen__cta__toggle label {
    width: 292px;
  }

  /* Slider */
  .slider__cards {
    height: 220px;
  }

  .slider__title__buttons {
    display: none;
  }

  .slider__cards {
    gap: 12px;
  }

  .slider__card {
    gap: 12px;
    padding: 20px 40px;
    border-radius: 20px;
    width: 280px;
  }

  .slider__card__description {
    font-size: 14px;
  }

  /* FAQ */
  .main__faq {
    gap: 32px;
  }

  .faq__container {
    gap: 12px;
  }

  .faq__container__column {
    width: 362px;
    gap: 12px;
  }

  .accordion__top {
    gap: 20px;
  }

  /* Form */
  .main__form {
    gap: 16px;
  }

  .form__title,
  .form__body {
    width: 360px;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
  }

  .form__title {
    height: 338px;
  }

  .form__submit {
    width: 100%;
    justify-content: center;
  }

  .footer {
    height: 157px;
    flex-direction: column;
  }
}

/* Mobile */
@media (max-width: 375px) {
  h2 {
    line-height: 110%;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  /* First Screen */
  .main__first-screen {
    gap: 40px;
  }

  .first-screen__cta {
    width: 342px;
    padding-right: 0px;
  }

  .first-screen__image-container {
    height: 264px;
  }

  .first-screen__image-container--image1,
  .first-screen__image-container--image2,
  .first-screen__image-container--block {
    width: 164px;
    height: 164px;
  }

  .first-screen__image-container--image1 {
    top: 100px;
  }

  .first-screen__image-container--image2 {
    left: 178px;
  }

  .first-screen__image-container--block {
    top: 50px;
    left: 89px;
  }

  .modal-menu__container {
    width: 342px;
    height: 292px;
    gap: 16px;
    border-radius: 20px;
  }

  .modal-menu__button {
    width: 302px;
  }

  /* Slider */
  .main__slider {
    gap: 32px;
  }

  .slider__title__buttons {
    display: none;
  }

  /* FAQ */
  .faq__container__column {
    width: 342px;
  }

  /* Form */
  .form__submit {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .custom-checkbox {
    align-items: flex-start;
  }
}
